@import "@/assets/css/variables.scss";
a {
    text-decoration: none;
}

.anchor-tag {
    position: relative;
    top: -$header-height;
    //top: -45px;
}

html {
    scroll-behavior: smooth;
}

.horizontal-aligner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vertical-aligner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.header-margin {
    height: $header-height;
}

.maximize-body {
    height: calc(80vh - #{$header-height});
}

.y-spacer {
    width: 0.8em;
    height: 1.5em;
    display: block;
}

.x-spacer {
    width: 0.8em;
    height: 1.5em;
    display: inline-block;
}

.fade-in {
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.slide-in-from-left {
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}